.task-card-container {
  margin-bottom: 20px;
  .card {
    margin-bottom: 20px;
    mat-card {
      padding: 8px;
      mat-card-header {
        padding: 0;
      }
      mat-card-content {
        padding: 0;
        margin-top: 12px;
        p {
          margin: 0 0 6px;
        }
      }
    }
  }
}
