.modal-header {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  justify-content: space-between;
  margin-bottom: 4px;
  h2 {
    margin: 0;
  }
  .action-buttons {
    display: flex;
  }
}

.close-button {
  cursor: pointer;
  color: #333;
}

.close-button mat-icon {
  font-size: 24px;
}

mat-dialog-content {
  max-height: 60vh;
  overflow-y: auto;
  font-size: 1rem;
  padding: 0 12px !important;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.2rem;
  }

  mat-dialog-content {
    max-height: 80vh;
  }
}
