main {
  max-height: 90vh;
}
.modal-header {
  display: flex;
  padding: 6px 12px;
  justify-content: space-between;
  margin-bottom: 4px;
  align-items: center;
  h2 {
    margin: 0;
  }
}

.close-button {
  cursor: pointer;
  color: #333;
}

mat-dialog-content {
  max-height: 60vh;
  overflow-y: auto;
  padding: 6px 12px !important;
  mat-form-field {
    width: 100%;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.2rem;
  }

  mat-dialog-content {
    max-height: 80vh;
  }
}
.selected-persons-container {
  padding: 6px 12px;
  .selected-persons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.person-card {
  width: 100%;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card-content {
    h4 {
      margin: 0 0 8px;
    }

    p {
      margin: 4px 0;
    }
  }

  .delete-icon {
    position: absolute;
    bottom: 8px;
    right: 8px;
    cursor: pointer;
    color: red;
  }
}
